@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

/* body{
   font-family: 'Unbounded', cursive;
} */

h1,h2,a,button{
    font-family: 'Unbounded', cursive;
}

/* Hide scrollbar for all browsers */
::-webkit-scrollbar {
  display: none;
}